example/node-red-bmp085-flow.json
[{"id":"5e951e2b.af702","type":"debug","name":"debug","active":true,"console":"false","complete":"true","x":572,"y":324,"z":"e07c9390.25d6f","wires":[]},{"id":"27da19cf.f3bf66","type":"inject","name":"tick","topic":"","payload":"ererer","payloadType":"string","repeat":"","crontab":"","once":false,"x":179,"y":250,"z":"e07c9390.25d6f","wires":[["5da2c9e6.ef7578"]]},{"id":"5da2c9e6.ef7578","type":"bmp085","name":"","address":"0x77","device":"/dev/i2c-1","x":367,"y":297,"z":"e07c9390.25d6f","wires":[["5e951e2b.af702"]]}]