example/node-red-bmp085-flow.json
[{"id":"e7da534a.5bc17","type":"template","name":"text","field":"payload","template":"Temperature: {{payload.temperature}}°C; Pressure: {{payload.pressure}}mmHg","x":869,"y":183,"z":"e07c9390.25d6f","wires":[["15f75748.2632a1"]]},{"id":"15f75748.2632a1","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":1061,"y":95,"z":"e07c9390.25d6f","wires":[]},{"id":"dc11fb8f.65593","type":"bmp085","name":"","address":"0x77","device":"/dev/i2c-1","timer":"15","x":717,"y":284,"z":"e07c9390.25d6f","wires":[["e7da534a.5bc17"]]}]